.homepage {
  padding: 2rem;
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

.homepage__title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 1rem;
  text-align: center;
}

.homepage__controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.homepage__sort,
.homepage__filter {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 200px;
}

.homepage__section-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
}

.homepage__recommended-list,
.homepage__product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 0 2rem;
}
.homepage__product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  height: 700px;

  &:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
  }
}

.homepage__image-wrapper {
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-radius: 8px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.homepage__product-name {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
  margin: 0.5rem 0;
  text-overflow: ellipsis;
}

.homepage__product-price {
  font-size: 1rem;
  color: #007bff;
  margin-bottom: 1rem;
}

.homepage__buttons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;

  button,
  a {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .homepage__add-to-cart {
    background-color: #28a745;
    color: white;

    &:hover {
      background-color: #218838;
    }
  }

  .homepage__add-to-favorites {
    background-color: #ffc107;
    color: white;

    &:hover {
      background-color: #e0a800;
    }
  }

  .homepage__view-details {
    background-color: rgb(138, 42, 42) !important;
    color: white;
    text-decoration: none;

    &:hover {
      background-color: rgb(100, 36, 36) !important;
    }
  }
}

.homepage__carousel-title {
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1.5rem;
  color: #fff;
}

.homepage__carousel-description {
  background: rgba(0, 0, 0, 0.3);
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
  color: #f0f0f0;
}

.homepage__features {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
  padding: 1rem 0;
  background-color: #f8f9fa;
}

.homepage__feature {
  text-align: center;
  max-width: 200px;
}

.homepage__feature img {
  width: 50px;
  margin-bottom: 1rem;
}

.homepage__product-card {
  background: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.homepage__product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.homepage__add-to-cart {
  background: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s;
}

.homepage__add-to-cart:hover {
  background-color: rgb(138, 42, 42);
}

.custom-arrow {
  font-size: 1rem;
  padding: 30px;
  width: 200px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev .custom-arrow {
  left: 25px;
}

.carousel-control-next .custom-arrow {
  right: 25px;
}

.homepage__categories {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0;
}

.homepage__category-circle {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 50%;
  padding: 1rem;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}

.homepage__category-circle:hover {
  transform: scale(1.1);
}

.homepage__category-circle img {
  width: 200px;
  height: 200px;
  margin-bottom: 0.5rem;
}

.homepage__category-circle h3 {
  font-size: 1rem;
  color: #333;
}

.homepage__section-title {
  color: #000;
}

.homepage__reviews {
  margin: 3rem 0;
  padding: 2.5rem;
  background-color: #eef5ff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  &-title {
    font-size: 2.5rem;
    color: #000;
    margin-bottom: 2.5rem;
    font-weight: bold;
  }

  &-item {
    padding: 1.5rem;
  }

  &-text {
    font-size: 1.8rem;
    font-style: italic;
    color: #34495e;
    margin-bottom: 1.5rem;
  }

  &-author {
    font-size: 1.3rem;
    color: #555;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .homepage__review-star {
      color: #f1c40f;
      margin-right: 0.3rem;
    }
  }
}

.custom-arrow {
  background-color: rgb(138, 42, 42);
  color: white;
  font-size: 2.5rem;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;

  &:hover {
    background-color: rgb(138, 42, 42);
    transform: scale(1.2);
  }

  i {
    font-size: 1.5rem;
  }
}

.custom-arrow-prev {
  left: -40px;
}

.custom-arrow-next {
  right: -40px;
}

.homepage__product-card {
  background: #f0f0f0;
  border: 1px solid #444;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
  }
}

.homepage__product-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.5rem 0;
  color: #000;
}

.homepage__product-price {
  font-size: 2rem;
  color: #000;
  margin-bottom: 1rem;
}

.homepage__buttons {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;

  button,
  a {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .homepage__add-to-cart {
    background-color: #28a745;
    color: white;

    &:hover {
      background-color: #218838;
    }
  }

  .homepage__add-to-favorites {
    background-color: white;
    color: white;

    &:hover {
      background-color: rgb(193, 184, 184);
    }
  }

  .homepage__view-details {
    background-color: #007bff;
    color: white;
    text-decoration: none;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.homepage__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.homepage__pagination-button {
  background-color: rgb(138, 42, 42);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgb(100, 36, 36);
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

.homepage__pagination-info {
  font-size: 1rem;
  color: #333;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: rgb(243, 242, 242) !important;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  p {
    font-size: 1em;
    color: #555;
  }

  .product-card__buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;

    button,
    .view-details {
      background: rgb(138, 42, 42);
      color: #fff;
      border: none;
      padding: 8px 12px;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        background: rgb(130, 36, 36);
      }
    }

    .add-to-cart {
      background: #28a745;

      &:hover {
        background: #218838;
      }
    }

    .add-to-favorites {
      background: white;

      &:hover {
        background: #d7d5cc;
      }
    }
  }
}
